<footer id="footer" class="site-footer">
  <div align="center" class="content">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
	<a href="{{ site.url }}/feed.xml">
		<img title="RSS" src="{{ site.url }}/feed.png" width=50 height=50/>
	</a>
	<a href="https://github.com/epersni/" target="new">
		<img title="Github" src="{{ site.url }}/github.png" width=50 height=50/>
	</a>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
      {% endif %}
  </div>
</footer>
